.jumbotron {
	background-color: transparent;
}

.panel-primary {
	opacity: 0.75;
}

body {
	background-image: url(http://www.a1-discount-cruises.com/images/wedding%20cruises%20ship%20sunset.jpg);
  height: 950px;
}



