#main {
  background-size: cover;
}

body.main {
  background-size: cover;
}



@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
  font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  color: #2a3237;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  /*opacity: .1;*/
  background: url('../img/header.jpg');
}

html, body { margin: 0, height: 100%; overflow: hidden};

/*Makes the pre-load of the page look good*/
.parallax img {
  width: 100%;
  height: 100%;
}
/* Preloader */

.preloader {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: white;
}

.preloader img {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

/* Typography */

/*the first line in the heading*/
p {
  font-size: 45px;
  line-height: 1.5;
  color: #8a8e91;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  position: relative;
  margin: 10px 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}
/*Places the header in the top center of page*/

header {
  position: relative;
  width: 100%;
  color: white;
  margin-bottom: 150px;
}

header .table {
  display: table;
  height: 100%;
}

header .container {
  height: 100%;
}

header .header-text {
  display: table-cell;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px #000;
}

/*Places the cursor for the typing*/

header .typed {
  display: inline-block;
  margin: 0;
}

header .typed-cursor {
  font-size: 60px;
  display: inline-block;
  /*margin: 0 10px;*/
  color: #00a8ff;
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.login {
  font-size: 30px;
  margin-bottom: -150px;
}

/*.official-twitter {*/
  /*width: 100px;*/
  /*height: 500px;*/
/*}*/

.trend {
  font-size: 50px;
    color: #00a8ff;
    margin: 50px 50px 50px 50px;
}

/*Twitter sign in button*/
img {
    width: 300px;
  margin-bottom: 100px;
  margin-top: -100px;
}

#display {
  margin-bottom: -150px;
}

/*Footer*/

footer {
  padding: 140px 0 40px;
  /*background: url('../img/footer.jpg');*/
  -webkit-background-size: cover;
  background-size: cover;
  position: fixed;
  bottom: 0;
}

footer .bottom-footer {
  margin-bottom: -150px;
}

footer .social-footer li a {
  font-size: 24px;
  color: #fff;
}

/* Colors */

.white {
  color: white;
}

.light-white {
  color: rgba(255, 255, 255, 0.5);
}

.white-bg {
  background: white;
}

.gray-bg {
  background: #f7f7f7;
}

.blue {
  color: #00a8ff;
}

.blue-bg {
  background: #00a8ff;
}

.muted {
  color: #989da0;
}

.margin-top {
  margin-top: 150px;
}

@media(max-width:992px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
  .section {
    padding: 30px 0;
  }
}

/* Media Queries */

@media(max-width:991px) {
  .text-center-mobile {
    text-align: center !important;
  }
}

@media(max-width: 768px) {
  .pricing {
    margin-bottom: 30px;
  }
  .pricings .pricing .info-icon {
    display: none;
  }
  .pricings .pricing .box-main,
  .pricings .pricing .box-second {
    left: 0;
    width: 100%;
    padding: 50px 50px 0;
    text-align: left;
    background: #00a8ff;
  }
  .pricings .pricing .box-main.active {
    background: #00a8ff;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  .pricings .pricing .box-second {
    position: relative;
    opacity: 1;
  }
  .popup-form {
    width: 100%;
    margin: 60px auto;
  }
  .modal {
    padding: 0 10px !important;
  }
  .popup-form .form-control:not(.dropdown):focus {
    position: relative;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media(max-width: 400px) {
  /*header .typed-cursor {*/
    display: none;
  }
  .pricings .pricing .box-second {
    padding-top: 0;
  }
}




